{% extends "base.html" %}
{% block content %}
<!-- Start navbar -->
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <!-- Logo -->
    <a class="logo" href="index.html">
      <img src="{{ IMG_DIR }}logo-light.png" alt="logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="icon-bar"><i
          class="fas fa-bars"></i></span></button>

    <!-- navbar links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" href="index.html">Home</a>
        </li>
        <li class="nav-item dropdown">
          <div class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdown">
            Nossas Frentes
          </div>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="ft-ensina.html">FT Ensina</a>
            <a class="dropdown-item" href="ft-para-todos.html">FT para Todos</a>
            <a class="dropdown-item" href="ft-contra-conronavirus.html">FT contra o Coronavírus</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-scroll-nav="1">Materiais</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-scroll-nav="2">Tire dúvidas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End navbar -->
<!-- Start header -->
<header class="header valign bg-img" data-scroll-index="0" data-overlay-dark="7" data-background="{{ IMG_DIR }}tijolinhos.png" data-stellar-background-ratio="0.5">

  <div class="container">
    <div class="text-center caption mt-30">
      <h4>Mobiliza FT</h4>
      <h1>FT Ensina</h1>
      <div class="row">
        <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8">
          <p>A frente FT Ensina visa o apoio acadêmico aos alunos da faculdade e interessados por meio de videoaulas, materiais de estudo, etc. com ênfase nas matérias introdutórias comuns às Engenharias - como Cálculo, Física e Programação.
            Direcionado a calouros.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="curve curve-bottom curve-center"></div>
</header>
<!-- End header -->

<!-- Start materiais -->
<section class="hero" data-scroll-index="1">

  <div class="tabs-section section-padding bg-gray">
    <div class="container">
      <div class="row">
        <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 text-center mb-80">
          <h4 class="extra-title">Materiais</h4>
          <p>Videoaulas e materiais para estudo.</p>
        </div>
        <ul class="col-md-12 nav nav-pills tabs" id="pills-tab" role="tablist">
          <li class="nav-item one active">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Videoaulas</a>
          </li>
        </ul>

        <div class="tab-content col-lg-12" id="pills-tabContent">

          <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="row">
              <div class="left col-lg-6">
                <div class="mission box-white">
                  <h5 class="title">Videoaulas</h5>
                  <ul class="feat mt-30 row" id="disciplinas">
                    {% for item in FT_ENSINA_CONTENT %}
                    <!-- <p>{{ item }}</p> -->
                    <li class="disciplina col-sm-4" id="disciplina-{{ item.numero }}">
                      <span class="icon icon-basic-display"></span>
                      <h6>{{ item.disciplina }}</h6>
                    </li>
                    {% endfor %}
                  </ul>
                  {% for item in FT_ENSINA_CONTENT %}
                  <ul id="lista-aulas-{{ item.numero }}" class="list-group" hidden="true">
                    {% for titulo in item.titulos %}
                    <!-- {% if matter_number == numero %} -->
                    <li class="video-info list-group-item" value="{{ item.links[loop.index-1] }}">
                      {{ titulo }} - {{ item.assuntos[loop.index-1] }}
                    </li>
                    <!-- {% endif %} -->
                    {% endfor %}
                  </ul>
                  {% endfor %}
                </div>
              </div>
              <div class="col-lg-6 image">
                <div class="img">
                  <img src="{{ IMG_DIR }}3.jpg" alt="">
                  <a class="vid" id="videoaula-player" href="" hidden="true">
                    <span class="vid-butn">
                      <i class="fas fa-play-circle"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

</section>
<!-- End materiais -->
<!-- Start works -->
<section class="works section-padding">
  <div class="container">
    <div class="row">

      <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
        <h4>Outros <span>materiais</span></h4>
        <p>We are a passionate digital design agency that specializes in beautiful and easy-to-use digital design & web development services.</p>
      </div>

    </div>
  </div>

  <div class="container-fluid">
    <div class="row">

      <!-- filter links -->
      <div class="filtering text-center mb-30 col-sm-12">
        <div class="filter">
          <span data-filter='*' class="active">All</span>
          <span data-filter='.brand'>Brand</span>
          <span data-filter='.web'>Design</span>
          <span data-filter='.graphic'>Graphic</span>
        </div>
      </div>

      <div class="clearfix"></div>

      <!-- gallery -->
      <div class="gallery full-width">

        <!-- gallery item -->
        <div class="col-lg-3 col-md-6 items graphic">
          <div class="item-img">
            <img src="{{ IMG_DIR }}portfolio/1.jpg" alt="image">
            <div class="item-img-overlay">
              <div class="overlay-info full-width">
                <p>Logo | Branding</p>
                <h6>Creative Web Design</h6>
                <a href="{{ IMG_DIR }}portfolio/1.jpg" class="popimg">
                  <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- gallery item -->
        <div class="col-lg-3 col-md-6 items web">
          <div class="item-img">
            <img src="{{ IMG_DIR }}portfolio/2.jpg" alt="image">
            <div class="item-img-overlay">
              <div class="overlay-info full-width">
                <p>Logo | Branding</p>
                <h6>Creative Web Design</h6>
                <a href="{{ IMG_DIR }}portfolio/2.jpg" class="popimg">
                  <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- gallery item -->
        <div class="col-lg-3 col-md-6 items brand">
          <div class="item-img">
            <img src="{{ IMG_DIR }}portfolio/3.jpg" alt="image">
            <div class="item-img-overlay">
              <div class="overlay-info full-width">
                <p>Logo | Branding</p>
                <h6>Creative Web Design</h6>
                <a href="{{ IMG_DIR }}portfolio/3.jpg" class="popimg">
                  <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- gallery item -->
        <div class="col-lg-3 col-md-6 items graphic">
          <div class="item-img">
            <img src="{{ IMG_DIR }}portfolio/4.jpg" alt="image">
            <div class="item-img-overlay">
              <div class="overlay-info full-width">
                <p>Logo | Branding</p>
                <h6>Creative Web Design</h6>
                <a href="{{ IMG_DIR }}portfolio/4.jpg" class="popimg">
                  <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- gallery item -->
        <div class="col-lg-3 col-md-6 items web">
          <div class="item-img">
            <img src="{{ IMG_DIR }}portfolio/5.jpg" alt="image">
            <div class="item-img-overlay">
              <div class="overlay-info full-width">
                <p>Logo | Branding</p>
                <h6>Creative Web Design</h6>
                <a href="{{ IMG_DIR }}portfolio/5.jpg" class="popimg">
                  <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- gallery item -->
        <div class="col-lg-3 col-md-6 items brand">
          <div class="item-img">
            <img src="{{ IMG_DIR }}portfolio/6.jpg" alt="image">
            <div class="item-img-overlay">
              <div class="overlay-info full-width">
                <p>Logo | Branding</p>
                <h6>Creative Web Design</h6>
                <a href="{{ IMG_DIR }}portfolio/6.jpg" class="popimg">
                  <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- gallery item -->
        <div class="col-lg-3 col-md-6 items brand">
          <div class="item-img">
            <img src="{{ IMG_DIR }}portfolio/7.jpg" alt="image">
            <div class="item-img-overlay">
              <div class="overlay-info full-width">
                <p>Logo | Branding</p>
                <h6>Creative Web Design</h6>
                <a href="{{ IMG_DIR }}portfolio/7.jpg" class="popimg">
                  <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- gallery item -->
        <div class="col-lg-3 col-md-6 items graphic">
          <div class="item-img">
            <img src="{{ IMG_DIR }}portfolio/8.jpg" alt="image">
            <div class="item-img-overlay">
              <div class="overlay-info full-width">
                <p>Logo | Branding</p>
                <h6>Creative Web Design</h6>
                <a href="{{ IMG_DIR }}portfolio/8.jpg" class="popimg">
                  <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
<!-- End works -->
<!-- Start doubts -->
<section class="call-action section-padding bg-img bg-fixed" data-scroll-index="2" data-overlay-dark="6" data-background="{{ IMG_DIR }}ft-para-todos/ft-1.jpg">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <div class="text-center">
          <h2>Tire suas dúvidas!</h2>
          <h5>Entre em contato</h5>
          <a href="index.html#contact" class="butn butn-bg">
            <span>Contato</span>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- End doubts -->
{% endblock %}
