{% extends "base.html" %}
{% block content %}
<!-- =====================================
    	==== Start Navbar -->

<nav class="navbar navbar-expand-lg">
  <div class="container">

    <!-- Logo -->
    <a class="logo" href="index.html">
      <img src="{{ IMG_DIR }}logo-light.png" alt="logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"><i class="fas fa-bars"></i></span>
    </button>

    <!-- navbar links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" href="index.html">Home</a>
        </li>
        <li class="nav-item dropdown">
          <div class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdown">
            Nossas Frentes
          </div>
          <!-- <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                      Nossas Frentes
                    </a> -->
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="ft-ensina.html">FT Ensina</a>
            <a class="dropdown-item" href="ft-para-todos.html">FT para Todos</a>
            <a class="dropdown-item" href="ft-contra-conronavirus.html">FT contra o Coronavírus</a>
          </div>
        </li>
        <!-- <li class="nav-item">
			        <a class="nav-link" href="#" data-scroll-nav="2">Portfolio</a>
			      </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#" data-scroll-nav="3">Quem Somos</a>
        </li>
        <!-- <li class="nav-item">
			        <a class="nav-link" href="#" data-scroll-nav="4">Price</a>
			      </li> -->
        <!-- <li class="nav-item">
			        <a class="nav-link" href="#" data-scroll-nav="5">Blog</a>
			      </li> -->
        <li class="nav-item">
          <a class="nav-link" href="index.html#contact">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- End Navbar ====
    	======================================= -->


<!-- =====================================
    	==== Start Header -->

<header class="header slider bg-img bg-fixed" data-scroll-index="0" data-overlay-dark="7" data-background="{{ IMG_DIR }}ft-para-todos/ft-1.jpg">
  <div class="container-fluid">
    <div class="owl-carousel owl-theme">
      <div class="item">
        <div class="text-center v-middle caption mt-30">
          <h4>Mobiliza DF</h4>
          <h1>FT para Todos</h1>
          <div class="row">
            <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8">
              <p>A frente FT para Todos tem como objetivo divulgar fontes confiáveis de informação sobre o coronavírus e
                promover reflexões críticas sobre o momento que estamos vivendo. </p>
            </div>
          </div>
          <a href="#content" class="butn butn-light mt-30">
            <span>Começar</span>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="text-center v-middle caption mt-30">
          <h4>Mobiliza DF</h4>
          <h1>FT para Todos</h1>
          <div class="row">
            <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8">
              <p>A frente FT para Todos tem como objetivo divulgar fontes confiáveis de informação sobre o coronavírus e
                promover reflexões críticas sobre o momento que estamos vivendo.</p>
            </div>
          </div>
          <a href="#content" class="butn butn-light mt-30">
            <span>Começar</span>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="text-center v-middle caption mt-30">
          <h4>Mobiliza DF</h4>
          <h1>FT para Todos</h1>
          <div class="row">
            <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8">
              <p>A frente FT para Todos tem como objetivo divulgar fontes confiáveis de informação sobre o coronavírus e
                promover reflexões críticas sobre o momento que estamos vivendo.</p>
            </div>
          </div>
          <a href="#content" class="butn butn-light mt-30">
            <span>Começar</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- End Header ====
    	======================================= -->



<!-- =====================================
        ==== Start Blog -->

<section class="blog section-padding" data-scroll-index="5" id="content">
  <div class="container">
    <div class="row">

      <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
        <h4><span></span> Últimos Conteúdos</h4>
        <p> Veja os últimos conteúdos que separamos para você.</p>
      </div>
      <div class="col-lg-4">
        <div class="item mb-md50">
          <div class="post-img">
            <div class="img">
              <img src="{{ IMG_DIR }}blog/1.jpg" alt="">
            </div>
          </div>
          <div class="cont">
            <div class="info">
              <a href="#0">By : Admin</a>
              <a href="#0">06 Aug 2017</a>
              <a href="#0" class="tag">WordPress</a>
            </div>
            <h6><a href="#0">48 Best WordPress Themes</a></h6>
            <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the dummy text ever</p>
            <a href="#0" class="more">Read More <i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="item mb-md50">
          <div class="post-img">
            <div class="img">
              <img src="{{ IMG_DIR }}blog/2.jpg" alt="">
            </div>
          </div>
          <div class="cont">
            <div class="info">
              <a href="#0">By : Admin</a>
              <a href="#0">06 Aug 2017</a>
              <a href="#0" class="tag">WordPress</a>
            </div>
            <h6><a href="#0">48 Best WordPress Themes</a></h6>
            <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the dummy text ever</p>
            <a href="#0" class="more">Read More <i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="item">
          <div class="post-img">
            <div class="img">
              <img src="{{ IMG_DIR }}blog/3.jpg" alt="">
            </div>
          </div>
          <div class="cont">
            <div class="info">
              <a href="#0">By : Admin</a>
              <a href="#0">06 Aug 2017</a>
              <a href="#0" class="tag">WordPress</a>
            </div>
            <h6><a href="#0">48 Best WordPress Themes</a></h6>
            <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the dummy text ever</p>
            <a href="#0" class="more">Read More <i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- End Blog ====
        ======================================= -->

<!-- =====================================
        ==== Start Teams -->

<section class="team section-padding" data-scroll-index="3">
  <div class="container">
    <div class="row">

      <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
        <h4><span></span> Por trás dos bastidores</h4>
        <p>Saiba mais sobre a equipe da Universidade de Brasília envolvida na frente FT para Todos. </p>
      </div>

      <div class="owl-carousel owl-theme">
        <div class="item">
          <div class="team-img">
            <img src="{{ IMG_DIR }}team/1.jpg" alt="">
            <div class="social">
              <a href="#0" class="icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#0" class="icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#0" class="icon">
                <i class="fab fa-behance"></i>
              </a>
            </div>
          </div>
          <div class="info">
            <h6>Alex Smith</h6>
            <span>Project Manager</span>
          </div>
        </div>

        <div class="item">
          <div class="team-img">
            <img src="{{ IMG_DIR }}team/2.jpg" alt="">
            <div class="social">
              <a href="#0" class="icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#0" class="icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#0" class="icon">
                <i class="fab fa-behance"></i>
              </a>
            </div>
          </div>
          <div class="info">
            <h6>Alex Smith</h6>
            <span>Project Manager</span>
          </div>
        </div>

        <div class="item">
          <div class="team-img">
            <img src="{{ IMG_DIR }}team/3.jpg" alt="">
            <div class="social">
              <a href="#0" class="icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#0" class="icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#0" class="icon">
                <i class="fab fa-behance"></i>
              </a>
            </div>
          </div>
          <div class="info">
            <h6>Alex Smith</h6>
            <span>Project Manager</span>
          </div>
        </div>

        <div class="item">
          <div class="team-img">
            <img src="{{ IMG_DIR }}team/4.jpg" alt="">
            <div class="social">
              <a href="#0" class="icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#0" class="icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#0" class="icon">
                <i class="fab fa-behance"></i>
              </a>
            </div>
          </div>
          <div class="info">
            <h6>Alex Smith</h6>
            <span>Project Manager</span>
          </div>
        </div>

        <div class="item">
          <div class="team-img">
            <img src="{{ IMG_DIR }}team/3.jpg" alt="">
            <div class="social">
              <a href="#0" class="icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#0" class="icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#0" class="icon">
                <i class="fab fa-behance"></i>
              </a>
            </div>
          </div>
          <div class="info">
            <h6>Alex Smith</h6>
            <span>Project Manager</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- End Teams ====
        ======================================= -->

<!-- =====================================
        ==== Start Call-Action -->

<section class="call-action section-padding bg-img bg-fixed" data-overlay-dark="5" data-background="{{ IMG_DIR }}ft-para-todos/ft-2.jpg">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <div class="text-center">
          <h2>Tem alguma ideia que gostaria de compartilhar?</h2>
          <h5>Fale com a gente!</h5>
          <a href="index.html#contact" class="butn butn-bg">
            <span>Contato</span>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- End Call-Action ====
        ======================================= -->
{% endblock %}
